<html>
   <head><title>Legacy Intranet</title></head>
   <body>
      <img src="/logo-legacy-vector.svg" />
      <ul>
         {{#each this}}
         <li><a href="{{url}}">{{title}}</a></li>
         {{/each}}
      </ul>
   </body>
</html>